ion-title{
    margin-top: 8px;
    margin-left: -20px;
}

.review{
    background: inherit !important;
    border: 1px solid white;
    color: white;
    height: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 6px;
    font-weight: bold;
    width: 100px;
}

ion-content{
    --background: linear-gradient(48deg, rgba(70, 150, 204, 0.8) 0%, rgba(157, 72, 173, 0.86) 28%, rgba(0, 168, 168, 0.98) 93%, rgba(0, 168, 168, 1) 100%);
    // color: color($colors, light);
    color: var(--ion-color-light);

    span.spanBtn{
        display: flex !important;
    }

    .btn1{
        width: 100%;
        margin-bottom: 20px !important;
        font-size: 13px;
        padding-top: 3px;
        font-weight: bold;
    }

    .btn2{
        width: 100%;
        margin: 0 auto !important;
        font-size: 13px;
        padding-top: 3px;
        font-weight: bold;
    }

    ion-icon {
        font-size: 18px;
        color: #4aa1f3;
        height: 17.6px;
        width: 16.2px;
        margin: 0 5px 0 0;
        margin-bottom: -5px !important;
    }

    .card1{
        border: none !important;
        border-radius: 5%;
        background: rgba(241, 140, 72, 0.781);
        height: 150px;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
        --color: var(--ion-color-light);
    }

    .card-title{
        color: var(--ion-color-light);
        font-weight: 600;
        padding-top: 0px;
        margin: 2px 0 2px 15px !important;
        font-size: 24px;
    }

    .pCity{
        color: var(--ion-color-light);
        font-size: 15px;
        line-height: 22.5px;
    }

    .pSector{
        color: var(--ion-color-light);
        font-size: 15px;
        line-height: 22.5px;
    }

    .pSite{
        color: var(--ion-color-light);
        font-size: 15px;
        line-height: 22.5px;
    }

    span.pSpan{
        margin-top: -20px !important;
    }

    .iconClass.icon-md {
        padding-right: 5px !important;
        color: #4aa1f3;
        margin-left: -3px !important;
    }

    .card2 {
        border: none !important;
        border-radius: 5%;
        background: rgba(70, 224, 204, 0.8);
        height: auto !important;
        margin-bottom: 20px !important;
    }

    .pRow {
        width: 100%;
    }

    .pRow p{
        font-size: 20px;
        text-align: center !important;
        font-weight: 600;
        margin: 0 auto;
        color: white !important;
    }

    .pRow1 {
        width: 100%;
    }

    .pRow1 p{
        font-size: 20px;
        text-align: center !important;
        font-weight: 600;
        margin: 0 auto;
        color: white !important;
    }

    .pRow2 {
        width: 100%;
    }

    .pRow2 span{
        font-size: 20px;
        text-align: center !important;
        font-weight: 500;
        margin: 0 auto;
        color: white !important;
        justify-content: center !important;
    }

    .avg{
        display: flex !important;
        width: 100%;
    }

    .avg p{
        width: 100%;
        padding-left: 5px !important;
        height: 20px !important;
        width: auto;
        margin-top: 23px;
        color: white;
        text-align: left !important;
    }

    ratings{
        text-align: center !important;
        margin: 0 auto;
        width: 50%;
        padding: 0px !important;
        height: 50px;
    }

    .pText2{
        width: 100%;
    }

    .pText2 p{
        font-size: 22px;
        text-align: center !important;
        margin: 0 auto;
        color: white !important;
    }

    .card3{
        border: none !important;
        border-radius: 5%;
        background: rgba(97, 204, 70, 0.8);
        height: auto;
        margin-bottom: 20px !important;
        margin-top: 20px !important;
        color: var(--ion-color-light);
    }

    .col1{
        padding-top: 13px;
        font-weight: 600;
    }

    .col2{
        width: 50%;
        padding: 0px !important;
    }
}