img {
    width: 40px;
    height: 40px;
}

.account{
    font-size: 20px !important;
    color: #4aa1f3;
    margin-left: 15px;
}

.name{
    font-size: 16px !important;
    color: #65737e;
}

.company{
    font-size: 16px !important;
    color: #65737e;
    margin-left: 15px;
}

.btn {
    background: #488aff;
    padding: 10px !important;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    float: right;
}

.list{
    font-size: 20px !important;
    color: #4aa1f3;
}