<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar
  [(ngModel)]="companyname"
  type="text"
  showCancelButton
  (ionChange)="searchCompany()"
  (ionCancel)="onCancel($event)"
  (ionClear)="onClear($event)"
  ></ion-searchbar>


  <ion-list *ngIf="showList">
    <ion-item *ngFor="let company of searchResults">
      <h2>
        <button class="btn" *ngIf="results && showResults.length > 0" (click)="companyProfile(company)">
          {{company.companyname}}
        </button>
      </h2>

      <button class="btn" *ngIf="noResults && showResults.length === 0">
        {{company.companyname}}
      </button>
    </ion-item>
  </ion-list>

</ion-content>
