<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register Company</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
  <div>
    <ion-item>
      <ion-label color="primary" position="stacked">Company Name</ion-label>
      <ion-input type="text" [(ngModel)]="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Company Address</ion-label>
      <ion-input type="text" [(ngModel)]="address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">City</ion-label>
      <ion-input type="text" [(ngModel)]="city"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Country</ion-label>
      <ion-input type="text" [(ngModel)]="country"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Sector</ion-label>
      <ion-input type="text" [(ngModel)]="sector"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" position="stacked">Website</ion-label>
      <ion-input type="text" [(ngModel)]="website"></ion-input>
    </ion-item>

    <ion-button expand="block" (click)="register()">Register</ion-button>
  </div>
</ion-content>
  